<div class="flex justify-between">
  <div class="justify-self-start">
    <%= image_tag 'logo_symbol.png', class: 'h-40 w-auto', alt: 'caretilt_logo' %>
  </div>
  <div class="justify-self-center" >
    <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
      CareTilt
    </h2>
    <h2 class="mt-2 text-center text-3xl leading-9 font-extrabold text-gray-900">

      <%= title %>
    </h2>
  </div>
  <div class="w-40 h-40">

  </div>
</div>
