<h1>Your Pricing Calculation Results</h1>
<p>Core Cost per Service User (Day): £<%= @calculation_data[:core_cost_per_user_day] %></p>
<p>Weekly Management Cost per User: £<%= @calculation_data[:weekly_management_cost_per_user] %></p>
<p>Total Service User Cost per Week: £<%= @calculation_data[:total_cost_per_user_per_week] %></p>
