<div class="dialog">
    <div class="flex flex-col items-center">
      <h1 class='text-error '>Error!</h1>
      <p class='text-page-subheading'>There has been a problem in the creation of your account (user not associated with company). Please contact Caretilt for support.</p>
      <div>
        <%= image_tag "error2.png", class: "h-96 w-96 mt-6" %>
      </div>
    </div >
  </div>
