<div class="dialog">
    <div class="flex flex-col items-center">
      <h1 class='text-error '>No subscription found!</h1>
      <p class='text-page-subheading'>Your Entity doesn't seem to have a valid subscription.  Please contact your Super User and ask them to activate the Subscription!</p>
      <div>
        <%= image_tag "error", class: "h-96 w-96 mt-6" %>
      </div>
    </div >
  </div>
