<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-10 lg:px-8">
    <div class="mx-auto max-w-4xl divide-y divide-gray-900/10">
      <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">Frequently asked questions</h2>
      <dl class="mt-10 space-y-6 divide-y divide-gray-900/10" data-controller="togglevisibility">
        <%= render partial: 'shared/faq_card', locals: { faq_id: 0, question: "How does CareTilt work?", answer: "You can find out more on how Caretilt works here." } %>
        <%= render partial: 'shared/faq_card', locals: { faq_id: 1, question: "How do we onboard?", answer: "After signing up and payment, CareTilt will onboard you as a provider. This will include gathering all of the relevant information on your organisation and your provision. This enables us to quickly assess which services can meet the needs of individuals as they come in." } %>
        <%= render partial: 'shared/faq_card', locals: { faq_id: 2, question: "How long does onboarding typically take?", answer: "Onboard can take anything from 3 working days to 3 working weeks dependent on how quickly you submit the information and the number of services you want added onto the database. We recommend that providers start the onboarding with a few properties to reduce risk of missing out on potential referrals." } %>
      </dl>
    </div>
  </div>
</div>
