<% meta title: "Home", description: "This field creates an SEO meta description." %>

<!-- This example section is from the tailwindui.com Hero Section component library -->
<div class="">
  <main>
    <%# <div class="relative isolate">
      <svg class="absolute inset-x-0 top-0 -z-10 h-[64rem] w-full stroke-gray-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M.5 200V.5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)" />
      </svg>
      <div class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48" aria-hidden="true">
        <div class="aspect-[801/2036] w-[60.0625rem] bg-gradient-to-tr from-primary to-secondary opacity-25" style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"></div>
      </div> %>
      <div class="overflow-hidden">
        <div class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32">
          <div class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
            <div>
              <p class="dev-class-custom">Custom css class</p>
              <p class="dev-class-tailwind1">Custom tailwind class application</p>
              <p class="dev-class-tailwind2">Custom tailwind class text</p>
            </div>
            <div class="relative w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">We’re changing the way people connect.</h1>
              <p class="mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">At CareTilt, we are transforming how local authorities and service providers connect. Our platform simplifies the process, enabling authorities to quickly and easily find the right service providers for their service users, ensuring more efficient and effective care management tailored to individual needs.</p>
              <div class="mt-10 flex items-center gap-x-6">
                <a href="#" class="button-base-primary">Get started</a>
                <%# <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Live demo <span aria-hidden="true">→</span></a> %>
              </div>
            </div>
            <div class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">
              <div class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
                <div class="relative">
                              <%= image_tag '2.jpg', class: "aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg", alt: '' %>        </a>

                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
              </div>
              <div class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36">
                <div class="relative">
                              <%= image_tag '3.jpg', class: "aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg", alt: '' %>        </a>

                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
                <div class="relative">
                  <img src="https://plus.unsplash.com/premium_photo-1664475811964-75af7d90ee4b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y2FyZSUyMGhvbWV8ZW58MHx8MHx8fDA%3D" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover object-right shadow-lg">
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
              </div>
              <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
                <div class="relative">
                              <%= image_tag '18.png', class: "aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg", alt: '' %>        </a>

                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
                <div class="relative">
                              <%= image_tag '1.jpg', class: "aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg", alt: '' %>        </a>

                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# TILT Area NEGATIVE %>

    <div class="bg-gradient-to-tr from-primary/80 from-30% via-secondary/80 via-60% to-indigo-100 to-90% py-24 sm:py-32 text-white negative-container">
    <%# <svg class="bg-light" id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 240" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(0, 89, 127, 1)" offset="0%"></stop><stop stop-color="rgba(0, 89, 127, 0.67)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 1px); opacity:1" fill="url(#sw-gradient-0)" d="M0,96L34.3,112C68.6,128,137,160,206,160C274.3,160,343,128,411,100C480,72,549,48,617,56C685.7,64,754,104,823,132C891.4,160,960,176,1029,164C1097.1,152,1166,112,1234,96C1302.9,80,1371,88,1440,108C1508.6,128,1577,160,1646,164C1714.3,168,1783,144,1851,148C1920,152,1989,184,2057,188C2125.7,192,2194,168,2263,168C2331.4,168,2400,192,2469,180C2537.1,168,2606,120,2674,84C2742.9,48,2811,24,2880,16C2948.6,8,3017,16,3086,36C3154.3,56,3223,88,3291,96C3360,104,3429,88,3497,68C3565.7,48,3634,24,3703,28C3771.4,32,3840,64,3909,96C3977.1,128,4046,160,4114,156C4182.9,152,4251,112,4320,116C4388.6,120,4457,168,4526,188C4594.3,208,4663,200,4731,172C4800,144,4869,96,4903,72L4937.1,48L4937.1,240L4902.9,240C4868.6,240,4800,240,4731,240C4662.9,240,4594,240,4526,240C4457.1,240,4389,240,4320,240C4251.4,240,4183,240,4114,240C4045.7,240,3977,240,3909,240C3840,240,3771,240,3703,240C3634.3,240,3566,240,3497,240C3428.6,240,3360,240,3291,240C3222.9,240,3154,240,3086,240C3017.1,240,2949,240,2880,240C2811.4,240,2743,240,2674,240C2605.7,240,2537,240,2469,240C2400,240,2331,240,2263,240C2194.3,240,2126,240,2057,240C1988.6,240,1920,240,1851,240C1782.9,240,1714,240,1646,240C1577.1,240,1509,240,1440,240C1371.4,240,1303,240,1234,240C1165.7,240,1097,240,1029,240C960,240,891,240,823,240C754.3,240,686,240,617,240C548.6,240,480,240,411,240C342.9,240,274,240,206,240C137.1,240,69,240,34,240L0,240Z"></path></svg> %>
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
          <div class="text-center">
            <h2 class="text-3xl font-bold tracking-tight sm:text-5xl">Our Pledge</h2>
            <p class="mt-4 text-xl font-semibold leading-8">
              To support both local authorities and providers of services to meet the needs of vulnerable people in the community.
            </p>
          </div>
          <dl class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4">
            <div class="flex flex-col bg-gray-400/5 p-8">
              <dt class="text-lg font-semibold leading-6 mt-5">Thorough understanding of each available placement to support matching service users</dt>
              <dd class="order-first text-9xl font-bold tracking-tight">T</dd>
            </div>
            <div class="flex flex-col bg-gray-400/5 p-8">
              <dt class="text-lg font-semibold leading-6 mt-5">Increasing choice and improving quality of matches</dt>
              <dd class="order-first text-9xl font-bold tracking-tight">I</dd>
            </div>
            <div class="flex flex-col bg-gray-400/5 p-8">
              <dt class="text-lg font-semibold leading-6 mt-5">Local placements where appropriate and safe</dt>
              <dd class="order-first text-9xl font-bold tracking-tight">L</dd>
            </div>
            <div class="flex flex-col bg-gray-400/5 p-8">
              <dt class="text-lg font-semibold leading-6 mt-5">Timely responses which support step down, placement breakdown and hospital discharge</dt>
              <dd class="order-first text-9xl font-bold tracking-tight">T</dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
    <%# OUR FEATURES %>
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
          <h2 class="text-xl font-semibold leading-7 text-primary">Helping you, help others</h2>
          <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Making it easy to help others</p>
          <p class="mt-6 text-lg leading-8 text-gray-600">We've made everything simple and accessible so it's easier to see which care provider is best for you.</p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
          <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
            <div class="flex flex-col">
              <dt class="flex items-center gap-x-3 text-card-heading">
                <svg class="h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                </svg>
                Easy to use dashboard
              </dt>
              <dd class="mt-4 flex flex-auto flex-col text-description" >
                <p class="flex-auto"> Our intuitive dashboard provides seamless navigation and user-friendly functionality, ensuring that managing your care home’s operations is as simple as possible. From tracking resident information to managing staff schedules, everything is at your fingertips in one place.</p>
                <p class="mt-6">
                  <a href="#" class="button-arrow">Learn more <span aria-hidden="true">→</span></a>
                </p>
              </dd>
            </div>
            <div class="flex flex-col">
              <dt class="flex items-center gap-x-3 text-card-heading">
                <svg class="h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                </svg>
                Protected Information
              </dt>
              <dd class="mt-4 flex flex-auto flex-col text-description">
                <p class="flex-auto">Ensure data privacy and security with robust permission settings. Staff members can access only the information necessary for their role, safeguarding resident and employee privacy while maintaining operational efficiency.</p>
                <p class="mt-6">
                  <a href="#" class="button-arrow">Learn more <span aria-hidden="true">→</span></a>
                </p>
              </dd>
            </div>
            <div class="flex flex-col">
              <dt class="flex items-center gap-x-3 text-card-heading">
                <svg class="h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M15.312 11.424a5.5 5.5 0 01-9.201 2.466l-.312-.311h2.433a.75.75 0 000-1.5H3.989a.75.75 0 00-.75.75v4.242a.75.75 0 001.5 0v-2.43l.31.31a7 7 0 0011.712-3.138.75.75 0 00-1.449-.39zm1.23-3.723a.75.75 0 00.219-.53V2.929a.75.75 0 00-1.5 0V5.36l-.31-.31A7 7 0 003.239 8.188a.75.75 0 101.448.389A5.5 5.5 0 0113.89 6.11l.311.31h-2.432a.75.75 0 000 1.5h4.243a.75.75 0 00.53-.219z" clip-rule="evenodd" />
                </svg>
                CQC Ready
              </dt>
              <dd class="mt-4 flex flex-auto flex-col text-description">
                <p class="flex-auto">Automatically sync with the Care Quality Commission (CQC) database to get the latest care home information. Stay compliant and keep your records up to date with minimal effort, ensuring you meet CQC standards at all times.
    </p></p>
                <p class="mt-6">
                  <a href="#" class="button-arrow">Learn more <span aria-hidden="true">→</span></a>
                </p>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </main>
</div>
