<turbo-frame id="activity-feed">
<p class="text-black text-lg">session debugging</p>

<!--render session information for debugging-->
<% @bookings.each do |booking| %>
<%= booking.attributes.each do  %>
<% end %>
<% end %>
</turbo-frame>
