<turbo-frame id="main-content">
  <div class="mx-auto">
    <%= link_to sanitize("&larr; Back to homes"), care_home_path(@care_home), class: "btn mb-4 font-bold text-lg text-white bg-gradient-to-b from-secondary to-primary  hover:shadow-slate-500 hover:shadow-lg" %>
  </div>
  <%= render 'form', room: @room, care_home: @care_home %> <!-- Render the form partial -->
</turbo-frame>
