/* If nothing is updating on Tailwind classes run commands below to recompile tailwind. */
/* rails assets:clobber
 rails assets:precompile */



@import 'text.css';
@import 'buttons.css';
@import 'page_design.css';
@import 'care_provider.css';
@import 'form.css';
@import "actiontext.css";
@import "trix.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

.dev-class-custom{
    color: red;
    font-size: 100px;
}

.dev-class-tailwind1{
    @apply text-green-700
}

.custom-select {
    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add custom styles */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.375rem;
    background-image: url('/path/to/your-custom-arrow.svg'); /* Add your custom arrow icon */
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
  }

  .custom-select:focus {
    border-color: #4a90e2; /* Focus border color */
    outline: none;
  }

.custom-wrapper{
    color: red;
}

.form-image-card{
    width: 200px;
}