/* If nothing is updating on Tailwind classes run commands below to recompile tailwind. */
/* rails assets:clobber
rails assets:precompile */

/* .form-image-card{
    width: 200px;
} */

@import 'text.css';
@import 'buttons.css';
@import 'page_design.css';
@import 'care_provider.css';
@import 'form.css';
@import "actiontext.css";
@import "trix.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

.dev-class-custom{
    color: red;
    font-size: 100px;
}

.dev-class-tailwind1{
    @apply text-green-700
}