<!-- views/care_homes/edit.html.erb -->
<turbo-frame id="main-content">
  <div class="mt-10 mb-5 flex items-center justify-between">
    <h1 class="text-page-subheading my-3"">Edit Care Home</h1>

    <!-- Link to go back -->
    <div>
      <%= link_to "&larr; Back to homes".html_safe, care_homes_path, class: "bg-primary hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
      <!-- Add Room Button -->
      <%= link_to 'Care / Support Services', care_home_rooms_path(@care_home), data: { turbo_frame: "main-content" }, class: "button-blue-pill" %>
      <!-- Delete Care Home Button -->
      <% if policy(@care_home).delete? %> 
        <%= button_to "Delete", care_home_path(@care_home), method: :delete, data: { turbo_confirm: "Are you sure? This process is irreversible!" }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full", form_class: "inline" %>
      <% end %>
    </div>
    </div>
    <%= render 'form', company: @company, care_home: @care_home %> <!-- Render the form partial -->
  </div>
</turbo-frame>

