<!-- views/care_homes/edit.html.erb -->
<turbo-frame id="main-content">
  <div class="mt-10 mb-5 flex items-center justify-between">
    <h1 class="text-page-subheading my-3"">Edit Care Home</h1>

    <!-- Link to go back -->
    <div>
      <%= link_to "&larr; Back to Care / Support Services".html_safe, all_company_care_homes_path(@company), class: "bg-primary hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
      <!-- Add Room Button -->
      <%= link_to "Add a room", new_care_home_room_path(@care_home), data: { turbo_frame: "main-content" }, class: "bg-primary hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
      <!-- Delete Care Home Button -->
      <%= button_to "Delete", care_home_path(@care_home), method: :delete, data: { turbo_confirm: "Are you sure? This process is irreversible!" }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full", form_class: "inline" %>
    </div>
    </div>
    <%= render 'form', company: @company, care_home: @care_home %> <!-- Render the form partial -->
  </div>
</turbo-frame>
