<%# email sent to user %>

<h1>Your Pricing Calculation Results</h1>
<p>Total Overheads: £<%= session['calculator_data']['total_overheads'] %></p>
<p>Total Package Cost: £<%= session['calculator_data']['total_package_cost'] %></p>
<p>Total Hourly Rate: £<%= session['calculator_data']['total_hourly_rate'] %></p>
