<%# email sent to user %>
<!-- app/views/calculator_mailer/send_calculation.html.erb -->

<h1>Your Pricing Calculation Results</h1>
<p>Total Overheads: £<%= @total_overheads %></p>
<p>Total Package Cost: £<%= @total_package_cost %></p>
<p>Total Hourly Rate: £<%= @total_hourly_rate %></p>
